body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:auto;
  width:auto;
  background-image:  url("http://wallpapercave.com/wp/v5eW6jf.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
a {
  color: #00B7FF;
}
#board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: inherit;
  box-sizing: border-box;
}
#dealerSpace{
  position: absolute;
  top: 0.5%;
  height: 26%;
  width: 65%;
  left: 20%;
}
#dealer {
  display: inline-block;
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url(http://www.customtablefelt.com/images/suited-poker-felt/suited-poker-table-felt-400x300.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  border: 2px solid blue;
  border-radius: 5px;
  box-sizing: border-box;
}
.card {
  border:0.5px solid black;
  border-radius: 7px;
  height: 140px;
  width: 95px;
  float:left;
  margin:5px;
  background-image:url("http://t09.deviantart.net/J0g3xl2jd0jisHH7q8wgmnkoi4Y=/300x200/filters:fixed_height(100,100):origin()/pre03/3c3d/th/pre/f/2013/303/3/3/lady_deadpool___colors_by_zethkeeper-d6sdqhf.jpg");
}
#hit:focus{
  outline: 0;
}
#hit{
  position: absolute;
  top: -20%;
  left: 0.3%;
  background-color: #48d1cc;
  border: 2px solid black;
  border-radius: 30px 30px 0px 0px;
  color: #006400;
  padding: 7px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-style: oblique;
  font-weight: bolder;
  font-family: fantasy;
  font-size: 20px;
  height: 45px;
  width: 100px;
}
#stay:focus{
  outline: 0;
}
.chips{
  position: absolute;
  width: 67.5%;
  top: -40%;
  left: 16%;
}
#stay{
  position: absolute;
  top: -20%;
  right: 0.5%;
  background-color: #87ceeb;
  border: 2px solid black;
  border-radius: 30px 30px 0px 7px;
  color: #006400;
  padding: 7px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-style: oblique;
  font-weight: bolder;
  font-family: fantasy;
  font-size: 20px;
  height: 45px;
  width: 100px;
}
#player {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  background-image: url(http://www.customtablefelt.com/images/suited-poker-felt/suited-poker-table-felt-400x300.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  border: 2px solid blue;
  border-radius: 5px;
  box-sizing: border-box;
}
#dealerName{
  border: 0.5px solid black;
  font-size: 20px;
  font-family: fantasy;
  background-color:orange;
  width:100%;
  border-radius: 5px;
}
#playerName{
  border: 0.5px solid black;
  font-size: 20px;
  font-family: fantasy;
  background-color:orange;
  width:30%;
  border-radius: 5px;
}
#playerSpace{
  position: absolute;
  bottom: 0.5%;
  height: 26%;
  width: 58%;
  left: 20%;
}
#bet{
  float: right;
  border: 0.5px solid black;
  font-size: 20px;
  font-family: fantasy;
  background-color:orange;
  width:30%;
  border-radius: 3px 3px 3px 3px;
}
#cardSuit{
  color: #ffff00;
  position: relative;
  font-size:70px;
  top:11%;
  left:25%;
}
#cardRank{
  position:inherit;
  border-radius: 2px;
  width:13%;
  background-color: black;
  color: #ffff00;
  position: inherit;
}
#hand{
  position: relative;
}
#handValue{
  position: absolute;
  display: inline;
  width: 1%;
  background-color: #87ceeb;
  border: 2px solid black;
  color: #006400;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  font-style: oblique;
  font-family: fantasy;
  font-size: 20px;
}
#dHandValue{
  position: absolute
  bottom:-900000px;
  right:-676px;
  background-color: #87ceeb;
  border: 2px solid black;
  color: #006400;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-style: oblique;
  font-family: fantasy;
  font-size: 20px;
}
#bank{
  position: absolute;
  bottom: 2%;
  left: 69.6%;
  background-color: white;
  border-radius: 3px 3px 3px 3px;
  width: 30%;
  font-family: fantasy;
  font-size: 1.5em;
}
.start-screen {
  background-color: white;
  font-family: inherit;
  height: 10%;
  width: 28%;
  font-size: -webkit-xxx-large;
  position: absolute;
  top: 21%;
  left: 36%;
  border-radius: 20%;
  text-align: center;
}
.start-button {
  position: absolute;
  top: 75%;
  width: 26%;
  left: 38%;
  height: 10%;
  background-color: aquamarine;
  border-radius: 5%;
  font-family: inherit;
  font-size: x-large;
}
#whiteChip:focus{
  outline: 0;
}
#whiteChip{
  position: absolute;
  background-image: url('http://www.how-to-hold-a-party.com/images/poker/poker_chip_white.png');
  background-position: center;
  background-size: 69px 69px;
  border: 2px solid black;
  border-radius: 200px 200px 200px 200px;
  /*color: #006400;*/
  padding: 7px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-style: oblique;
  font-weight: bolder;
  font-family: fantasy;
  font-size: 13px;
  height: 70px;
  width: 75px;
}
#redChip:focus{
  outline: 0;
}
#redChip{
  position: absolute;
  top:0%;
  left: 21%;
  background-image:url('http://www.how-to-hold-a-party.com/images/poker/poker_chip_red.png');
  background-size: 69px 69px;
  background-position: 0.3px;
  border: 2px solid black;
  border-radius: 200px 200px 200px 200px;
  color: #006400;
  padding: 7px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-style: oblique;
  font-weight: bolder;
  font-family: fantasy;
  font-size: 13px;
  height: 70px;
  width: 72px;
}
#greenChip:focus{
  outline: 0;
}
#greenChip{
  position: absolute;
  top:0%;
  left: 41.5%;
  background-image: url('http://cdn3.volusion.com/vuawm.poqar/v/vspfiles/photos/3289-1.jpg?1389763324');
  background-size: 84px 84px;
  background-position: -1px;
  background-size: 69px 69px;
  background-position: 0.3px;  border: 2px solid black;
  border-radius: 200px 200px 200px 200px;
  color: #006400;
  padding: 7px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-style: oblique;
  font-weight: bolder;
  font-family: fantasy;
  font-size: 13px;
  height: 70px;
  width: 71px;
}
#blueChip:focus{
  outline: 0;
}
#blueChip{
  position: absolute;
  top:0%;
  left: 62.5%;
  background-image: url('http://poker.marlowcasinochips.com/diceblue.jpg');
  background-position: center;
  background-size: 80px 80px;
  border: 2px solid black;
  border-radius: 200px 200px 200px 200px;
  color: #006400;
  padding: 7px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-style: oblique;
  font-weight: bolder;
  font-family: fantasy;
  font-size: 13px;
  height: 70px;
  width: 75px;
}
#blackChip:focus{
  outline: 0;
}
#blackChip{
  position: absolute;
  top:0%;
  left: 84.5%;
  background-image:url('http://www.how-to-hold-a-party.com/images/poker/poker_chip_black.png');
  background-position: center;
  background-size: 80px 80px;
  border: 2px solid black;
  border-radius: 200px 200px 200px 200px;
  color: #006400;
  padding: 7px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-style: oblique;
  font-weight: bolder;
  font-family: fantasy;
  font-size: 13px;
  height: 70px;
  width: 75px;
}
