body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:auto;
  width:auto;
}

a {
  color: #00B7FF;
}

#board {
  background-image:  url("http://wallpapercave.com/wp/v5eW6jf.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 5px;


  /*background-attachment: fixed;*/
  /*overflow: hidden;*/
  /*display:inline-block;*/
  margin-left: auto;
  margin-right: auto;
  position: inherit;
  border: 3px solid blue;
  box-sizing: border-box;
}
#foo{
  position:inherit;
}
#Dealer {
  background-image:url("http://www.customtablefelt.com/images/suited-poker-felt/suited-poker-table-felt-400x300.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.9;
  margin-top: 8px;
  margin-left: 25%;
  display:block;
  width: 50%;
  height: 28%;
  border: 2px solid blue;
  border-radius: 5px;
  box-sizing: border-box;
}


.card {
  border:0.5px solid black;
  border-radius: 7px;
  height: 140px;
  width: 95px;
  float:left;
  margin:5px;
  /*background-color: #90ee90;*/
  background-image:url("http://t09.deviantart.net/J0g3xl2jd0jisHH7q8wgmnkoi4Y=/300x200/filters:fixed_height(100,100):origin()/pre03/3c3d/th/pre/f/2013/303/3/3/lady_deadpool___colors_by_zethkeeper-d6sdqhf.jpg");
}
.cardDown{
  border:0.5px solid black;
  border-radius: 7px;
  height: 140px;
  width: 95px;
  float:left;
  margin:5px;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform: rotateY(180deg);
  backface-visibility: hidden;
   /*background-color: #90ee90;*/
  /*background-image:url("http://t09.deviantart.net/J0g3xl2jd0jisHH7q8wgmnkoi4Y=/300x200/filters:fixed_height(100,100):origin()/pre03/3c3d/th/pre/f/2013/303/3/3/lady_deadpool___colors_by_zethkeeper-d6sdqhf.jpg");*/
}
/*#reveal .cardDown{
  border:0.5px solid black;
  border-radius: 7px;
  height: 140px;
  width: 95px;
  float:left;
  margin:5px;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform: rotateY(180deg);

   background-color: #90ee90;
  background-image:url("http://t09.deviantart.net/J0g3xl2jd0jisHH7q8wgmnkoi4Y=/300x200/filters:fixed_height(100,100):origin()/pre03/3c3d/th/pre/f/2013/303/3/3/lady_deadpool___colors_by_zethkeeper-d6sdqhf.jpg");
}*/
#player {
  position: relative;
  background-color: white;
  background-image: url("http://www.customtablefelt.com/images/suited-poker-felt/suited-poker-table-felt-400x300.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.9;
  margin-top: 27%;
  left: 25%;
  display:block;
  width: 50%;
  height: 30%;
  border: 2px solid blue;
  border-radius: 5px;
  box-sizing: border-box;

}
#dealerName{
  border: 0.5px solid black;
  font-size: 40px;
  background-color:orange;
  width:100%;
  border-radius: 5px;
  color:white;
}
#playerName{
  border: 0.5px solid black;
  font-size: 40px;
  background-color:orange;
  width:100%;
  border-radius: 5px;
}
#cardSuit{
  color: #ffff00;
  position: relative;
  font-size:70px;
  top:11%;
  left:25%;
}
#cardRank{
  position:inherit;
  border-radius: 2px;
  width:13%;
  background-color: black;
  color: #ffff00;
  position: inherit;
}
#hand{
  position: relative;
}
#hit{
  display: flex;
  position: relative;
  top:-310px;
  right:-389px;
  background-color: #48d1cc; /* Green */
  border: 2px solid black;
  color: #006400;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  font-style: oblique;
  font-weight: bolder;
  font-family: fantasy;
  font-size: 20px;
  height: 60px;
}
#stay{
  display: flex;
  position: relative;
  top:-370px;
  right:-1062px;
  background-color: #87ceeb; /* Green */
  border: 2px solid black;
  color: #006400;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  font-style: oblique;
  font-weight: bolder;
  font-family: fantasy;
  font-size: 20px;
  height: 60px;
}
#handValue{
  position: absolute;
  display: inline;
  width: 1%;
  /*margin-top: 0px;*/
  /*margin-left: 20%;*/
  background-color: #87ceeb; /* Green */
  border: 2px solid black;
  color: #006400;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-style: oblique;
  font-family: fantasy;
  font-size: 20px;
}
#dHandValue{
  position: absolute
  bottom:-900000px;
  right:-676px;
  background-color: #87ceeb; /* Green */
  border: 2px solid black;
  color: #006400;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-style: oblique;
  font-family: fantasy;
  font-size: 20px;
}
#bank{
  background-color: white;
  position: absolute;
  border-radius: 5px;
  /*display:flex;
  flex-wrap: wrap;*/
  bottom:0px;
  right:0px;
  font-family: fantasy;
  font-size: 2.2em;

}
