body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#board {
  background-image:  url(http://www.fun-free-party-games.com/ffpg-allimages/Blackjack-Table-Smalltext-A4.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 80%;
  border: 3px solid blue;
  box-sizing: border-box;
}
#dealer {
  background-color: white;
  opacity: 0.5;
  margin-top: 8px;
  margin-left: 40%;
  display:block;
  width: 20%;
  height: 20%;
  border: 2px solid blue;
  box-sizing: border-box;
}
#players {
  position:;
  width:auto;
  height:78%;
}

#player {
  position: relative;
  background-color: white;
  opacity: 0.5;
  margin-top: 30%;
  left:40%;
  display:block;
  width: 20%;
  height: 30%;
  border: 2px solid blue;
  box-sizing: border-box;
}
#dealerName{
  color:white;
}
#hand{
  background-color: violet;
}
.card {

  background-color: red;
}
