body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:auto;
  width:auto;
  /*background-color: #48a358;*/
  background-image:  url("https://zappreleases-15b2.kxcdn.com/ll/ZBlackJackWeb/blackjackassets/promoassets/FBCanvasBackground.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
a {
  color: #00B7FF;
}
#board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: inherit;
  box-sizing: border-box;
}
#dealerSpace {
  position: absolute;
  top: 0.5%;
  height: 26%;
  width: 100%;
  left: 0%;
}
#dealer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}
.card {
  border:0.5px solid #141e10;
  border-radius: 7px;
  height: 140px;
  width: 95px;
  float:left;
  margin-left: 1em;
  margin-top: 0.5%;
  background-image:url("http://t09.deviantart.net/J0g3xl2jd0jisHH7q8wgmnkoi4Y=/300x200/filters:fixed_height(100,100):origin()/pre03/3c3d/th/pre/f/2013/303/3/3/lady_deadpool___colors_by_zethkeeper-d6sdqhf.jpg");
}
#hit:focus {
  outline: 0;
}
#hit {
  background-color: #48d1cc;
  border-radius: 30px 30px 30px 30px;
  color: #006400;
  padding: 7px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-style: oblique;
  font-weight: bolder;
  font-family: fantasy;
  font-size: 20px;
  height: 45px;
  width: 100px;
  margin-bottom: 15px;
}
#stay:focus {
  outline: 0;
}
.chips {
  position: absolute;
  width: 40%;
  top: -40%;
  left: 31.4%;
}
#stay {
  background-color: #87ceeb;
  border-radius: 30px 30px 30px 30px;
  color: #006400;
  padding: 7px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-style: oblique;
  font-weight: bolder;
  font-family: fantasy;
  font-size: 20px;
  height: 45px;
  width: 100px;
}
.hit-stay-buttons {
  position: absolute;
  top: -86%;
  left: 16%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#split:focus {
  outline: 0;
}
#split {
  background-color: #48d1cc;
  border-radius: 30px 30px 30px 30px;
  color: #006400;
  padding: 7px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-style: oblique;
  font-weight: bolder;
  font-family: fantasy;
  font-size: 20px;
  height: 45px;
  width: 100px;
  margin-bottom: 15px;
}
#player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}
.player-name {
  padding-left: 16px;
  margin-bottom: 1em;
  font-family: inherit;
  font-size: 2.2em;
  border-radius: 5px;
  outline: none;
}
#dealerName {
  position: absolute;
  top: 18px;
  font-size: 22px;
  font-weight: 900;
  font-family: inherit;
  background-color: #E49B0F;
  border-radius: 0px;
  text-align: center;
  padding: 2px 10px 2px 10px;
}
#playerName {
  position: absolute;
  top: 18px;
  font-size: 22px;
  font-weight: 900;
  font-family: inherit;
  background-color: #E49B0F;
  border-radius: 0px;
  text-align: center;
  padding: 2px 10px 2px 10px;
}
#playerSpace {
  position: absolute;
  bottom: 0.5%;
  height: 26%;
  width: 100%;
  left: 0%;
}
#bet {
  border: 0.5px solid #1c1c1c;
  font-size: 20px;
  font-family: fantasy;
  background-color: orange;
  border-radius: 3px 3px 3px 3px;
  height: 11%;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
#cardSuit {
  color: #ffff00;
  position: absolute;
  font-size: 70px;
  margin-left: 23px;
}
#cardRank {
  position:inherit;
  border-radius: 2px;
  width:13%;
  background-color: black;
  color: #ffff00;
  position: inherit;
}
#hand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  background-image: url("../images/pokerImage.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 90%;
  border: 5px solid #0C72D8;
  border-radius: 5px;
  box-sizing: border-box;
  padding-right: 1em;
  min-width: 15em;
}
#handValue {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fafafa;
  height: 1.2em;
  width: 2em;
  font-size: 25px;
  text-align: center;
  color: #000f5a;
  z-index: 1;
  border-radius: 5px;
}
#dHandValue {
  position: absolute
  bottom:-900000px;
  right:-676px;
  background-color: #87ceeb;
  border: 2px solid #141e10;
  color: #006400;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-style: oblique;
  font-family: fantasy;
  font-size: 20px;
}
#bank {
  background-color: white;
  border-radius: 3px 3px 3px 3px;
  font-family: fantasy;
  font-size: 1.5em;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid black;
}
.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start-screen-banner {
  margin-bottom: 1em;
  height: 1.7em;
  width: 8em;
  padding-top: 0px;
  border-radius: 50%;
  background-color: #57d86d;
  font-size: 4.8em;
  font-weight: 900;
  color: #fafafa;
  text-shadow: 0px 4px 10px #1c1c1c;
  box-shadow: 0px 10px 40px #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-screen-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start-button {
  width: 100%;
  height: 10%;
  background-color: darkslategray;
  color: #fafafa;
  box-shadow: 0px 10px 40px #1c1c1c;
  border-radius: 50%;
  font-family: inherit;
  font-size: 3em;
  outline: none;
}
#whiteChip, #redChip, #greenChip, #blueChip, #blackChip {
  position: absolute;
  background-position: center;
  background-size: 80px 80px;
  border-radius: 200px 200px 200px 200px;
  color: #fafafa;
  padding: 7px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
  font-size: 25px;
  height: 70px;
  width: 75px;
  padding-top: 12px;
}
#whiteChip {
  outline: none;
  color: #888888;
  background-image: url('http://www.how-to-hold-a-party.com/images/poker/poker_chip_white.png');
}
#redChip {
  background-image:url('http://www.how-to-hold-a-party.com/images/poker/poker_chip_red.png');
  outline: none;
  top:0%;
  left: 21%;
}
#greenChip {
  background-image: url('http://cdn3.volusion.com/vuawm.poqar/v/vspfiles/photos/3289-1.jpg?1389763324');
  outline: none;
  top:0%;
  left: 41.5%;
}
#blueChip {
  background-image: url("http://poker.marlowcasinochips.com/diceblue.jpg");
  outline: none;
  top: 0%;
  left: 62.5%;
}
#blackChip {
  background-image:url('http://www.how-to-hold-a-party.com/images/poker/poker_chip_black.png');
  outline: none;
  top:0%;
  left: 84.5%;
  padding-left: 11px;
  font-family: inherit;
}
.bet-bank-display {
  position: absolute;
  top: -86%;
  right: 16%;
  width: 15em;
}
#set-button {
  position: absolute;
  top: 14px;
  left: -98px;
  height: 40px;
  width: 75px;
  border-radius: 5px;
  background-color: #f4d495;
  color: #000089;
  font-family: inherit;
  font-weight: 900;
  font-size: 1.1em;
  outline: none;
}
.result-winner, .result-loser, .result-draw {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
  height: 8.5em;
  width: 10.7em;
  text-align: center;
  font-weight: 900;
  text-shadow: 0px 5px 5px #888888;
  box-shadow: 0px 20px 23px orange;
  border-radius: 10px;
  background-color: aquamarine;
  font-size: 2em;
}
.result-winner {
  background-image: url("http://tricksmode.com/wp-content/uploads/2017/02/winner-300x242.jpg");
  top: 7em;
  left: 50%;
}
.result-loser {
  background-image: url("http://www.countingedge.com/wp-content/uploads/2016/08/casino-bank-robber-300x208.jpg");
  top: 7em;
  left: 50%;
  height: 7.4em;
}
.result-draw {
  background-image: url(https://stephenhow.files.wordpress.com/2013/08/a91d79570d5b39e5076b8950689c832a_xl.jpeg);
  background-repeat: no-repeat;
  height: 172px;
  width: 19.2em;
  top: 7em;
  left: 50%;
  border: 1px solid #888888;
}
